{% extends "blog/base.html" %}

{% block title %}
NDA NA preparation Blog
{% endblock %}

{% block content %}
<div class="text-center">
	<img src="/static/blog/img/lifeofpi.jpg" class="rounded">
</div>
<div class="container">
	<h4>About FYI academy </h4>
	<p>
		FYI academy is a blog for guiding aspirants of NDA-NA exam by EX-RIMC cadets or Rimcollians who have successfully made it to the top positons in the merit lists. We want to share the secret as to how we made it without any coaching and secured top positions in the merit list. 

		It has become a trend to join coaching centres to crack exams like NDA-NA. We are encouraging aspirants to be confident and that they can crack this exam easily without formal coaching as a mediocre student. Many of us at RIMC got through this exam twice usually as it was compulsory to give two attempts. Most of us give our best in the first attempt and clear the SSB interview also. The first NDA-NA written exam preparations ends with 3–4 months of intense study and for the second attempt the written exam is cleared with just one day of study . 
		Most of us got the SSB call letter for the second time but we did not go as most of us had already cleared it in the first attempt itself. NDA NA is the easiest of all the exams conducted by UPSC. The books and the method of studying have been passed down to us by our seniors and their seniors at RIMC. As we have studied at this prestigious institute we know that this books are time tested and we have even suggested those books to our juniors. In our batch alone, 5 five of us were in the top 10 in the final merit list. The topper was also from our batch.

		Nowadays the cadets at RIMC have made 100% clearance of entire batch into NDA a tradition while securing 5–6 slots in the top 10 of the final merit list. During our times, it was 80–90%. This is just a validation of how good these books are how they can actually make you easily clear this exam if you follow the right steps that the cadets and we followed while we prepared for it. Instead of drowning yourself in many books just follow these few books that we will be sharing with you.
	</p>
</div>
{% endblock %}

{% block footer %}
{% endblock %}