{% extends "blog/base.html" %}

{% block title %}
SSB
{% endblock %}

{% block content %}
<section class="container">
	{% for post in post_ssb %}
	<div class="list-group">
	 <article>
	 	<div class="media-body">
	 		<div class="list-group">
	 			<a href="#">{{ post.author }}</a>
	 			<small>{{ post.date_posted}}</small>
	 		</div>
	 		<h2><a href="{% url 'post_ssb-detail' post.id %}">{{ post.title }}</a></h2>
	 		<p>{{ post.content }}</p>
	 	</div>
	 </article>
	</div>
	
{% endfor %}
</section>

<section class="container">

	<div c>
	<section>
		<a href="{% url 'post-create' %">Click here to create a new post</a>
	</section>
	</div>
</section>

{% endblock %}

{% block footer %}
{% endblock %}